<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sounds</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Blop</string>
			<key>Extension</key>
			<string>mp3</string>
			<key>Purpose</key>
			<string>Lost</string>
		</dict>
		<dict>
			<key>Purpose</key>
			<string>Tied</string>
			<key>Name</key>
			<string>ATone</string>
			<key>Extension</key>
			<string>mp3</string>
		</dict>
		<dict>
			<key>Purpose</key>
			<string>Won</string>
			<key>Name</key>
			<string>button-09</string>
			<key>Extension</key>
			<string>mp3</string>
		</dict>
		<dict>
			<key>Purpose</key>
			<string>CardDraw</string>
			<key>Name</key>
			<string>Woosh</string>
			<key>Extension</key>
			<string>mp3</string>
		</dict>
		<dict>
			<key>Purpose</key>
			<string>Beep</string>
			<key>Name</key>
			<string>blip</string>
			<key>Extension</key>
			<string>mp3</string>
		</dict>
		<dict>
			<key>Purpose</key>
			<string>Coin</string>
			<key>Name</key>
			<string>drop</string>
			<key>Extension</key>
			<string>mp3</string>
		</dict>
	</array>
</dict>
</plist>
